/* Usando a fonte Inter como padrão */
body {
    font-family: 'Inter', sans-serif;
}
/* Estilo para o mapa */
.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Estilos para o Carrossel (Embla) */
.embla__slide {
    position: relative;
}

/* Classes de aspecto para galeria */
.aspect-w-16 { position: relative; padding-bottom: 56.25%; }
.aspect-h-10 { }
.aspect-w-16 > * {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* Estilos para animação de Fade-in on Scroll */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px); /* Começa ligeiramente abaixo da posição final */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Transição suave */
    will-change: opacity, transform; /* Otimização para animações */
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}


/* Estilos para o FAQ Accordion */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}